html, body{
width:100%;
height:100%;
overflow:hidden;
margin:0px;
position:relative;
padding:0px;
}

.wadu-font{
font-family: 'Ubuntu', sans-serif;
}

.main{
margin:auto;
text-align:center;
background-color:#ff6c6c;
padding:70px;
box-shadow:0px 5px 5px rgba(0, 0, 0, 0.3);
z-index:100;
}

.content-scroller{
width:100%;
height:100%;
overflow-y:scroll;
margin:0px;
padding:0px;
background-color:white;
}

.main-title{
color:white;
text-shadow:3px 3px 0px rgb(100, 100, 100);
}

.main-subtitle{
font-size:16px;
color:white;
font-family: 'Noto Serif JP', serif;

}

.main-subbio{
font-family: 'Noto Serif JP', serif;
margin:30px auto 0px auto;
font-size:18px;
color:white;
#color:rgb(220, 220, 220);
font-weight:bold;
display:table-cell;
vertical-align:middle;
}

.detail{
margin:auto;
width:100%;
text-align:center;
padding:50px;
font-family: 'Noto Serif JP', serif;

}

.detail-twitter-mark{
color:#ff6c6c;
font-size:100px;
}


.twitter-zone{
width:60%;
border-radius:5px;
border:solid 1px rgba(0, 0, 0, 0.1);
padding:20px;
margin:40px auto;
}

.wadu-textarea{
margin:auto;
width:100%;
border:solid 1px rgba(0, 0, 0, 0.1);
border-radius:5px;
background-color:white;
padding:5px;
resize: none;
}

.add-btn{
margin:10px auto;
background-color:#ff6c6c;
font-weight:bold;
font-size:16px;
padding:5px 20px;
color:white;
border-radius:1000px;
}

.tweet-btn{
margin:20px auto;
background-color:#ff6c6c;
font-weight:bold;
font-size:24px;
padding:10px 30px;
color:white;
border-radius:1000px;

}

.tweet-btn:hover{
background-color:white;
}


@media screen and ( max-width:800px )
{
    .twitter-zone{
        width:100%;
    }    
}

.canvasjs-chart-credit{
display:none !important;
}

.remove-li{
background-color:red;
color:white;
width:23px;
height:10px;
display:table-cell;
font-weight:bold;
cursor:pointer;
transition:all 1s;
}

.remove-li:hover{
transform:scale(1.1);
}

.add-li{
background-color:green;
color:white;
width:23px;
height:10px;
display:table-cell;
font-weight:bold;
cursor:pointer;
transition:all 1s;
}

.add-li:hover{
transform:scale(1.1);
}

.label-li{
display:table-cell;
}

.label-row{
display:table;
}